.search {
    position: relative;
    border-radius: var(--mui-shape-border-radius);
    background-color: rgba(var(--mui-palette-common-white, 0.15));
    margin-left: 0;
    width: 100%;
  }
  
  .search:hover {
    background-color: rgba(var(--mui-palette-common-white, 0.25));
    border: 1px solid #364152;
  }
  
  @media (min-width: 600px) {
    .search {
      margin-left: var(--mui-spacing-1);
      width: auto;
    }
  }
  
  .searchIconWrapper {
    padding: var(--mui-spacing-0 var(--mui-spacing-2));
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--mui-transitions-create-color);
    color: #364152;
  }
  
  .searchIconWrapper:hover {
    background-color: #EC9C3D;
  }
  
  .styledInputBase {
    color: inherit;
  }
  
  .styledInputBase .MuiInputBase-input {
    padding: var(--mui-spacing-1 var(--mui-spacing-1 var(--mui-spacing-1) 0));
    padding-left: calc(1em + var(--mui-spacing-4));
    transition: var(--mui-transitions-create-width);
    width: 100%;
  }
  
  @media (min-width: 960px) {
    .styledInputBase .MuiInputBase-input {
      width: 20ch;
    }
  }
  
  .productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .productCardHeader {
  }
  
  .productCardMedia {
    object-fit: contain;
    height: 200px;
    width: 100%;
    padding: 5px;
  }
  
  .productCardContent {
    flex-grow: 1;
  }
  
  .productTitle {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3rem;
    line-height: 1.5rem;
    text-align: justify;
    font-weight: 500;
  }
  
  .productCategory {
    text-align: start;
    margin-top: 0.5rem;
    font-weight: 500;
    color: rgb(12 15 16 / 66%);
  }
  
  .productPrice {
    text-align: end;
    margin-top: 0.5rem;
    font-weight: 500;
    color: rgb(12 15 16 / 66%);
  }
  
  .productActions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .detailsButton,
  .deleteButton {
    margin-right: 5px;
    color: #EC9C3D;
    background-color: #fff;
    border: 2px solid #EC9C3D;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 10px;
  }
  
  .detailsButton:hover,
  .deleteButton:hover {
    background-color: #FDC06C;
    color: #FFF;
    border: 0px;
  }
  
  /* Other styles as needed */
  